// Azul primário e variações

$main: #1C7CD5;
$main-d: #105290;
$main-l: #A7D5FF;

// Laranja de highlight e variações

$accent: #FF8008;
$accent-d: darken($accent, 10);
$accent-l: lighter($accent, 20);

// Cinzas diversos

$gray: #555555;
$gray-d: #333333;
$gray-l: #DDDDDD;

// Neutros

$white: #F1F1F1;
$black: #111111;