.canais-oficiais {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  .contact-link,
  .social-link {
    width: 100%;
    // color: $gray;
    margin-bottom: 1rem;

    .fa,
    .fab {
      margin-right: 2rem;
      font-size: 2rem;
    }

    .contact-name,
    .social-name {
      $color: gray;
    }
  }
}
