.floating-box {
  width: 100%;
  margin: 0rem 1.5rem 2rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  background-color: $accent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 12px rgba($black, .3);
}

.float-title {
  text-align: center;
  margin-bottom: 1rem;
  color: $gray-d;
}

@include media-breakpoint-up(md) {
  .float-title {
    margin-bottom: 0;
    text-align: left;
    max-width: 25rem;
  }
}

.cta-banner {
  background-image: url('assets/img/cta/bg-img_concentrada.jpg');
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: $main-d;
  padding: 3rem 0;
  color: $white;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
}

.cta-content {
  display: flex;
  flex-direction: column;

  .cta-title_support {
    color: $main-l;
  }

  .cta-title {
    color: $gray-l;
  }
}

.cta-inline {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-label {
    margin-bottom: 0;
    width: 100%;
    color: $white;
  }

  .form-group {
    width: 100%;
  }

  .form-input {
    width: 100%;
    max-height: 3rem;
    padding: .5rem;
    border: 2px solid $main;
    border-radius: .25rem;
    transition: all .2s ease-in-out;

    &:active,
    &:focus {
      border-color: $main-d;
    }

    &::placeholder {
      font-size: .75rem;
      color: $gray;
    }
  }

  .input-mail {
    width: 100%;
  }

  // .form-name {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  // }
}