include includes/header.pug
  title CONTATO | Meu Filho tem Futuro

include includes/navbar.pug

section.hero-mftf.contato-mftf
  .container
    .row
      .hero-content
        h1.hero-title Bem-vindxs às melhores dicas para a educação do Futuro
      // hero-content
    // row
  // container
// end hero welcome

include includes/floatingcta.pug

//- include includes/poststream.pug

include includes/ctabanner.pug

include includes/footer.pug