include includes/header.pug

include includes/navbar.pug

section.hero-mftf.home-mftf
  .container
    .row
      .hero-content
        h1.hero-title Bem-vindos &agrave;s melhores dicas para a educa&ccedil;&atilde;o do Futuro
      // hero-content
    // row
  // container
// end hero welcome

include includes/floatingcta.pug

include includes/poststream.pug

include includes/ctabanner.pug

include includes/footer.pug

script(src='./index.js')
