@import "~bootstrap/scss/bootstrap";

body {
  background: url('./provisorio/img/background-home.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-main {
  transform: scale(0.9);
  transition: all 0.2s ease-in;

  &:hover,
  &:focus {
    transform: scale(1);
  }
}

.welcome-message {
  padding: 2rem;
  color: #FF8008;
}

.wrapper {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 52rem) {
  .wrapper {
    flex-direction: row;
  }
}