section.floating-cta
  .container
    .row
      .floating-box
        .float-title
          h3.cta-title Tenha acesso ilimitado &agrave; todas as dicas do portal
        .float-button
          button.mftf-cta.mftf-blue Receber todas as Dicas
      // end floating-box
    // end row
  // end container
// end floating-cta