section.mftf-footer
  .container
    .row
      .mftf-end
        .mftf-logo.col-md-4
          img.img-fluid(src='assets/img/mtft-logo-negative.png' alt='Logotipo da Meu Filho tem Futuro')
        // end mftf-logo
        .mftf-contact.col-md-4
          h5.contact-text D&uacute;vidas? Fale com a gente
          a.contact-link(href='mailto:ola@meufilhotemfuturo.com.br') ola@meufilhotemfuturo.com.br
        // end mftf contact
        .mftf-social.col-md-4
          h5.social-text Acesse nossas redes sociais
          a.contact-link(href='https://instagram.com/meufilhotemfuturo')
            span.fab.fa-instagram
            |  meufilhotemfuturo
        // end mftf social
      // end mftf end
    // end row
  // end container
// end mftf-footer
footer.footer-copyright
  p.small Todos os Direitos Reservados &copy; Team Beta, 2019
script(src='./index.js')