doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    // Favicon Set
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/favicon/apple-touch-icon.png')
    |
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/favicon/favicon-32x32.png')
    |
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/favicon/favicon-16x16.png')
    |
    link(rel='manifest', href='/assets/favicon/site.webmanifest')
    |
    link(rel='mask-icon', href='/assets/favicon/safari-pinned-tab.svg', color='#ff8008')
    |
    link(rel='shortcut icon', href='/assets/favicon/favicon.ico')
    |
    meta(name='msapplication-TileColor', content='#2b5797')
    |
    meta(name='msapplication-config', content='/assets/favicon/browserconfig.xml')
    |
    meta(name='theme-color', content='#ffffff')
    // /Favicon Set
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-149634194-1')
    |
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149634194-1');
    |
    title Meu filho tem Futuro
