section.post-stream
  .container
    .row
      a.post-highlight(href='#')
        .post-highlight_img.col-md-8
          img.img-fluid(src='assets/posts/img-post__blended-learning.jpg' alt='Moça segurando livros de estudo')
        // end post-higlight_img
        .post-highlight_content.col-md-4
          span.post-category Categoria Destaque
          h2.post-title As 8 maiores vantagens do Blended Learning
          p.post-excerpt
            | Donec at euismod lacus, eu scelerisque turpis. Proin lacinia tortor placerat ligula lacinia, ac imperdiet justo iaculis.
      // post-highlight
    // end row
    .row.post-grid
      a.post-entry.col-md-4(href='#')
        img.post-img(src='assets/posts/img-post_provisorio.png' alt='Provisorio')
        .post-content
          span.post-category Categoria do Post
          h3.post-title Conhe&ccedil;a 10 apps para o Futuro da Educa&ccedil;&atilde;o
      // post-entry
      a.post-entry.col-md-4(href='#')
        img.post-img(src='assets/posts/img-post_provisorio.png' alt='Provisorio')
        .post-content
          span.post-category Categoria do Post
          h3.post-title Como facilitar o processo de aprendizagem de matem&aacute;tica
      // post-entry
      a.post-entry.col-md-4(href='#')
        img.post-img(src='assets/posts/img-post_provisorio.png' alt='Provisorio')
        .post-content
          span.post-category Categoria do Post
          h3.post-title Qual o papel dos pais na educa&ccedil;&atilde;o com as novas tecnologias?
        a.post-entry.col-md-4(href='#')
          img.post-img(src='assets/posts/img-post_provisorio.png' alt='Provisorio')
          .post-content
            span.post-category Categoria do Post
            h3.post-title As 8 maiores vantagens do Blended Learning
        // post-entry
        a.post-entry.col-md-4(href='#')
          img.post-img(src='assets/posts/img-post_provisorio.png' alt='Provisorio')
          .post-content
            span.post-category Categoria do Post
            h3.post-title Como facilitar o processo de aprendizagem de matem&aacute;tica
        // post-entry
        a.post-entry.col-md-4(href='#')
          img.post-img(src='assets/posts/img-post_provisorio.png' alt='Provisorio')
          .post-content
            span.post-category Categoria do Post
            h3.post-title Qual o papel dos pais na educa&ccedil;&atilde;o com as novas tecnologias?
    // end row & post-grid
  // end container
// end post-stream